body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightyellow;
    color: black;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
h1, h2{
    font-family: "Tahoma", Arial;

}
p, li{
    font-family: "Helvetica", Arial;
}
li a{
    color: green;
    text-decoration: none;
}
a{
    color: maroon;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}
a:visited{
    color: brown;
    text-decoration: none;
}
#intro-figure{
    text-align: center;
}
#intro-caption{
    font-style: italic;
}
img{
 max-width: 50%;
 height: auto;  
}
.separator-line {
  border-bottom: 2px solid #ccc;
  margin: 20px 0 0 0px; 
}

.outline-table {               
  border: 1px solid #222;     
  border-collapse: collapse;  
  border-spacing: 0;          
  font-family: system-ui, Arial, sans-serif;
  text-align: left;           
}

.outline-table th,
.outline-table td {
  border: 1px solid #222; 
  padding: 8px;           
}

.outline-table thead th {
  font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    main{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
}
@media only screen and (min-width: 1025px) {
    main{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
}
@media (min-width: 481px) {
    main{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
}